@font-face {
    font-family: tanker;
    src: url(typography/Tanker-Regular.ttf);
}
::-webkit-scrollbar{
    background-color: var(--primary2);
}
::-webkit-scrollbar-thumb{
    background: var(--primary);
}

:root{
    --primary: #ff7f30;
    --primary2: #3f3f3f;
}

.site{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "hero hero hero "
    "content content content"
    "how_it_works how_it_works how_it_works"
    "sponsor sponsor sponsor"
    "reviews reviews reviews"
    "contact contact contact"
    ;
}
.hero{
    grid-area: hero;
}
.content{
    grid-area: content;
}
.how_it_works{
    grid-area: how_it_works;
}
.sponsor{
    grid-area: sponsor;
}
.reviews{
    grid-area: reviews;
}
.contact{
    grid-area: contact;
}
.hero-image{
    border-radius: 30px;
}
.hero-subheading{
    border-radius: 30px;
}
.hero-text1{
    translate: -50% 0%;
    display: flex;
    align-self: flex-end;
    padding: 30px;
    border-radius: 30px;
    height: min-content;
    @media (max-width: 800px) {
        translate: 0% 0%;
        justify-content: center;
    }
}
.hero-text2{
    translate: 50% 0%;
    padding: 30px;
    border-radius: 30px;
    height: min-content;
    @media (max-width: 800px) {
        translate: 0% 0%;
        justify-content: center;
    }
}
.hovering_anim1{
    --delay: 0s;
    animation: hovering2 10s var(--delay) ease-in-out infinite;
}
.hovering_anim2{
    --delay: 0.3s;
    animation: hovering3 10s var(--delay) ease-in-out infinite;
}
.hovering_anim3{
    --delay: 0.6s;
    animation: hovering2 10s var(--delay) ease-in-out infinite;
}
.hovering_anim4{
    --delay: 0.8s;
    animation: hovering 10s var(--delay) ease-in-out infinite;
}
@keyframes hovering {
    0%{
        translate: 0% 0%;
    }
    20%{
        translate: 10% 30%;
    }
    80%{
        translate: -10% -30%;
    }
    100%{
        translate: 0% 0%;
    }
}
@keyframes hovering2 {
    0%{
        translate: 0% 0%;
    }
    20%{
        translate: -10% 30%;
    }
    80%{
        translate: 10% -30%;
    }
    100%{
        translate: 0% 0%;
    }
}
@keyframes hovering3 {
    0%{
        translate: 0% 0%;
    }
    20%{
        translate: -20% 20%;
    }
    80%{
        translate: 10% -10%;
    }
    100%{
        translate: 0% 0%;
    }
}

.nav-design{
    background-image: linear-gradient(0deg, transparent 20%, #212529);
    background-size: 200%;
}
.custom-text{
    font-family: tanker;
    letter-spacing: 3px;
}
.custom-text-hover{
    color: beige;
    transition: color 0.3s ease-in-out;
}
.custom-text-hover:hover{
    color: var(--primary);
}
.custom-btn{
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 10px;
}
.glassmorphism{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.progress_ordering{
    animation: order_progress 2s linear infinite;
}
@keyframes order_progress {
    0%{
        opacity: 0;
    }
    30%,80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.appear_anim{
    transform-origin: center;
    animation: appear;
    animation-timeline: view();
    animation-fill-mode: forwards;
}
@keyframes appear {
    0%, 10%{
        transform: scale(0.5);
        opacity: 0;
    }
    40%, 100%{
        transform: scale(1);
        opacity: 1;
    }
}

.videoplayer{
    width: 100%;
    border: 2px solid var(--primary2);
}

.custom-splash{
    overflow: hidden;
    position: absolute;
    top: 0;
    display: flex;
    min-height: 100vh;
    min-width: 100%;
    z-index: 1000;
    animation: slide-bottom 2s 8s ease-in-out forwards;
}
@keyframes slide-bottom{
    0%{
        min-height: 100vh;
    }
    100%{
        min-height: 0%;
    }
}
.custom-splash2{
    opacity: 0;
    animation: splash-appear 1s 5s ease-in-out forwards;
}
@keyframes splash-appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.custom-splash3{
    animation: splash-slide 6s ease-in-out forwards;
}
.custom-splash3-text{
    font-size: 20vw;
    color: transparent;
    background-image: linear-gradient(90deg, var(--primary) 100%, transparent);
    background-size: 200%;
    background-repeat: no-repeat;
    background-clip: text;
}
@keyframes splash-slide {
    0%{
        left: 100%;
    }
    25%,50%{
        left: 0%;
    }
    100%{
        left: -100%;
    }
}